# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.out

# Go workspace
go.work
go.work.sum

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.*

# Temporary
tmp/
temp/

# Build
dist/
build/

# Node (если позже добавишь npm)
node_modules/

# JetBrains
*.iml